.orot-masonry {
  position: relative;
  width: 100%;
  height: var(--orot-masonry-height, 0px);
}

.orot-masonry__item {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 0;
}

.orot-masonry__item--hidden {
  visibility: hidden;
}
